*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.modal-content {
  background: rgba(0, 0, 0, 0.8);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  box-shadow: 0 4px 10px -2px gray;
  z-index: 12;
  background-color: #f1f1e1;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__container .header__right {
  display: flex;
  flex-basis: 35%;
  justify-content: space-between;
  align-items: center;
}
.header__container .header__right #header__logo {
  width: 70px!important;
  transition: all 0.3s linear;
}
.header__container .header__right #header__logo:hover {
  filter: opacity(0.77);
}
.header__container .header__right .header__link {
  font-size: 25px;
  color: #000;
  text-decoration: none;
}
.header__container .header__right .header__link::before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  top: 2em;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.header__container .header__right .header__link:hover::before {
  transform: scaleX(1);
}
.header__container .header__login {
  display: flex;
  flex-basis: 20%;
  justify-content: space-evenly;
  align-items: center;
}
.main {
  display: block;
  flex: 1 0 auto;
  width: 100%;
  padding: 150px 0;
}
.main__title {
  margin-bottom: 30px;
}
.menu {
  display: flex;
  justify-content: space-evenly;
}
.menu .menu__link a:hover,
.menu .menu__link a:active,
.menu .active-menu a {
  border-radius: 5px;
  background-color: #3772f3;
  color: white;
}
.menu__link a {
  text-decoration: none;
  padding: 5px 15px;
}
.menu__foods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__foods .menu__card {
  align-self: start;
  width: 230px;
  padding: 20px;
  text-align: center;
}
.menu__foods .menu__card a {
  text-decoration: none;
}
.menu__foods .menu__card a:hover,
.menu__foods .menu__card a:active {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}
.menu__foods .menu__card img {
  width: 100%;
}
.footer {
  background-color: #000;
  padding: 10px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__info-block {
  display: flex;
  justify-content: space-around;
  flex-basis: 80%;
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__info .info__title {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.footer__info .info__list {
  color: rgba(255, 255, 255, 0.3);
  padding: 0;
}
.footer__socials {
  width: 140px;
  display: flex;
  flex-wrap: wrap;
}
.footer__socials .social__item {
  margin-right: 13px;
}
#gray-svg {
  fill: rgba(248, 230, 230, 0.534);
}
