// 
@import "vars.less"; 

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    border: 0;
}

ul, 
ol {
    list-style: none;
}

.wrapper {
    width: 100%;
    min-height: 100vh; 
    overflow: hidden; 
}


// Header importing
@import "header.less";

// Main importing
@import "main.less"; 

